*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%); 
  --blue-purple: hsl(248, 32%, 49%);
  --input-text-color: hsl(249, 10%, 26%);
  --text-color: hsl(246, 25%, 77%);
  --border-color: hsl(0, 0%, 87%);
  --box-shadow: 0 8px rgba(0, 0, 0, 0.15);
  --free-trial-box-shadow: inset 0 -4px rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--red);
  background-image: url(images/bg-intro-mobile.png);
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  margin: 5.5rem auto 4.25rem auto;
  max-width: 450px;
  padding: 0 1.5rem;
  text-align: center;
}

/* Text section */
#text-content-section {
  color: white;
  margin-bottom: 4rem;
}

#text-content-section > h1 {
  font-size: 1.75rem;
  letter-spacing: -0.29px;
  line-height: 2.25rem;
  margin-bottom: 1rem;
}

/* Free trial section */
#free-trial-ad {
  background-color: var(--blue-purple);
  color: white;
  letter-spacing: 0.27px;
  margin-bottom: 1.5rem;
  padding: 1.125rem 20%;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

#free-trial-ad > span {
  font-weight: 700;
}

/* Form section */
#form-box {
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 1.5rem;
}

/* Input fields */
#form-box > form > input {
  border: 1px solid var(--border-color);
  border-radius: 5px;
  color: var(--input-text-color);
  display: block;
  font-weight: 600;
  margin-bottom: 1rem;
  padding: 1rem 0 1rem 1.25rem;
  width: 100%;
}

#form-box > form > input:focus {
  outline: 1px solid var(--blue-purple);
}

/* Submit button */
#form-box > form > input[type="submit"] {
  background-color: var(--green);
  border: none;
  box-shadow: var(--free-trial-box-shadow);
  color: white;
  letter-spacing: 1px;
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  transition: all 200ms ease-in-out;
}

#form-box > form > input[type="submit"]:focus {
  outline: none;
}

#form-box > form > input[type="submit"]:hover {
  background-color: hsl(154, 65%, 68%);
  cursor: pointer;
}

#form-box > p {
  color: var(--text-color);
  font-size: 0.6875rem;
  font-weight: 500;
  line-height: 1.3125rem;
}

#form-box > p > span {
  color: var(--red);
  font-weight: 700;
}

#form-box > p > span:hover {
  cursor: pointer;
}

/* Desktop design */
@media (min-width: 1200px) {
  body {
    align-items: center;
    background-image: url(images/bg-intro-desktop.png);
    display: flex;
  }
  
  main {
    flex-direction: row;
    margin: 5rem auto;
    max-width: 1400px;
    padding: 0 10rem;
  }
  
  /* Text section */
  #text-content-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1.375rem 0 0;
    text-align: start;
    width: 50%;
  }
  
  #text-content-section>h1 {
    font-size: 3.125rem;
    letter-spacing: -0.52px;
    line-height: 3.4375rem;
    margin-bottom: 0.6875rem;
  }
  
  /* Free trial section */
  #free-trial-section {
    margin-left: 1.375rem;
    width: 50%;
  }
  
  #free-trial-ad {
    background-color: var(--blue-purple);
    color: white;
    letter-spacing: 0.27px;
    margin-bottom: 1.5rem;
    padding: 1.125rem 20%;
    border-radius: 10px;
    box-shadow: var(--box-shadow);
  }
  
  #free-trial-ad>span {
    font-weight: 700;
  }
  
  /* Form section */
  #form-box {
    padding: 2.5rem;
  }
  
  /* Input fields */
  #form-box>form>input {
    margin-bottom: 1.25rem;
    padding: 1rem 0 1rem 2rem;
  }
  
  /* Submit button */
  #form-box>form>input[type="submit"] {
    margin-bottom: 0.5rem;
  }
}