*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%); 
  --blue-purple: hsl(248, 32%, 49%);
  --input-text-color: hsl(249, 10%, 26%);
  --text-color: hsl(246, 25%, 77%);
  --border-color: hsl(0, 0%, 87%);
  --box-shadow: 0 8px rgba(0, 0, 0, 0.15);
  --free-trial-box-shadow: 0 -4px rgba(0, 0, 0, 0.1);
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}